@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS  start */

body {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4f4;
}

.header-top {
    text-align: center;
    font-size: 36px;
    padding: 10px;
}

#botones {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.btn {
    padding: 10px;
    color: white;
    background-color: rgb(100, 100, 255);
    border: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: blue;
}

#container {
    display: flex;
    width: 100%;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
}

li {
    display: flex;
    width: 300px;
    padding: 15px;
    flex-direction: column;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: .5px .5px 3px black;
    text-align: center;
}

h4 {
    font-weight: 700;
}

li.div {
    background-color: rgb(49, 159, 233) ;
}